<section class="flex flex-col gap-8 md:flex-row justify-center items-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold order-2 md:order-1">
    <p>
      Me llamo Jhosbel Vargas. Empecé la programación gracias a la recomendación
      de un amigo hace ya muchos años y desde entonces he estado involucrado en
      el mundo del desarrollo aprendiendo más sobre las nuevas tecnologías.
    </p>

    <p>
      Mi mayor logro hasta ahora ha sido ser el <strong>encargado de desarrollar un
        proyecto completamente desde 0</strong>  para la empresa en la que he trabajado
      luego de demostrar mis habilidades adquiridas a lo largo del tiempo. Estoy
      orgulloso del trabajo que realice y aunque no se pudo completar con la
      aplicación debido a agentes externos, puedo decir que fue una experiencia
      bastante enriquecedora.
    </p>
  </div>
  <img src="/image.webp" alt="Foto mia en un ambiente laboral." class="rounded-full size-64 order-1 md:order-2"/>
</section>
