---
import { getI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="flex flex-col gap-8 md:flex-row justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold order-2 md:order-1"
  >
    <p>
      {i18n.about_me.paragraph_about_1}
    </p>

    <p>
      {i18n.about_me.paragraph_about_2}<strong>{i18n.about_me.paragraph_about_3}</strong>
      {i18n.about_me.paragraph_about_4}
    </p>
  </div>
  <img
    src="/image.webp"
    alt="Foto mia en un ambiente laboral."
    class="rounded-full size-64 order-1 md:order-2"
  />
</section>
